/* ================== Base Styles ======================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

/* =================== header Styles =======================*/
#header {
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 0%),
    url(../images/mobile/image-hero.jpg);
  height: 40.625rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*^^^^^^^^^^^ nav bar^^^^^^^^^^^^^^^*/
/*^^^Desktop Nav bar Only Layout^^^*/
.logo img {
  width: 12rem;
}

nav {
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 0 10.3125rem;
  padding-top: 4rem;
}

nav .mainMenu {
  display: flex;
  list-style-type: none;
  width: 23.75rem;
  justify-content: space-between;
  align-items: center;
}

nav .mainMenu li a {
  display: inline-block;
  font-family: "Alata", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  font-weight: normal;
}

nav .mainMenu li a:hover {
  text-decoration: underline;
}

nav .openMenu {
  cursor: pointer;
  font-size: 1.75rem;
  line-height: 1.5625rem;
  display: none;
}

nav .mainMenu .closeMenu {
  cursor: pointer;
  font-size: 1.75rem;
  line-height: 1.5625rem;
  display: none;
}

/*^^^^^^^^^^^ hero section ^^^^^^^^^*/
#hero-section {
  border: 0.125rem solid #ffffff;
  margin: 10.1875rem 1.5rem;
}

h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 2.375rem;
  padding: 1.5rem;
  font-weight: 300;
}

/* =================== main Styles =========================*/
/*^^^^^^^^^^^ about section ^^^^^^^^^^^^^^^*/
#about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 0;
}

#about-section .desktop-size {
  display: none;
}

#about-section img {
  width: 87.2%;
  margin-bottom: 3rem;
}

#about-section .about-writeup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-section h2 {
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 300;
}

#about-section p {
  font-family: "Alata", san-serf;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  text-align: center;
  opacity: 0.5;
  width: 77.4%;
  mix-blend-mode: normal;
}

/*^^^^^^^^^^^ gallery section ^^^^^^^^^^^^^*/
#gallery-section {
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
}

#gallery-section h2 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

#gallery-section .img-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.125rem;
}

#gallery-section .img-gallery a {
  text-decoration: none;
}

#gallery-section .img-gallery a:hover {
  opacity: 0.7;
}

#gallery-section p {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  margin-top: 3.25rem;
  margin-left: 1.25rem;
}

.deep-img,
.fisheye-img,
.above-img,
.curiosity-img,
.grid-img,
.night-img,
.soccer-img,
.pocket-img {
  width: 87.2%;
  height: 7.5rem;
  margin-bottom: 1.5rem;
  background-size: cover;
}

.deep-img {
  background-image: linear-gradient(270deg,
      rgba(0, 0, 0, 0.0001) 0%,
      rgba(0, 0, 0, 0.601863) 100%),
    url(../images/mobile/image-deep-earth.jpg);
}

.night-img {
  background-image: linear-gradient(270deg,
      rgba(0, 0, 0, 0.0001) 0%,
      rgba(0, 0, 0, 0.601863) 100%),
    url(../images/mobile/image-night-arcade.jpg);
}

.soccer-img {
  background-image: linear-gradient(270deg,
      rgba(0, 0, 0, 0.0001) 0%,
      rgba(0, 0, 0, 0.601863) 100%),
    url(../images/mobile/image-soccer-team.jpg);
}

.grid-img {
  background-image: linear-gradient(270deg,
      rgba(0, 0, 0, 0.0001) 0%,
      rgba(0, 0, 0, 0.601863) 100%),
    url(../images/mobile/image-grid.jpg);
}

.above-img {
  background-image: linear-gradient(270deg,
      rgba(0, 0, 0, 0.0001) 0%,
      rgba(0, 0, 0, 0.601863) 100%),
    url(../images/mobile/image-from-above.jpg);
}

.pocket-img {
  background-image: linear-gradient(270deg,
      rgba(0, 0, 0, 0.0001) 0%,
      rgba(0, 0, 0, 0.601863) 100%),
    url(../images/mobile/image-pocket-borealis.jpg);
}

.curiosity-img {
  background-image: linear-gradient(270deg,
      rgba(0, 0, 0, 0.0001) 0%,
      rgba(0, 0, 0, 0.601863) 100%),
    url(../images/mobile/image-curiosity.jpg);
}

.fisheye-img {
  background-image: linear-gradient(270deg,
      rgba(0, 0, 0, 0.0001) 0%,
      rgba(0, 0, 0, 0.601863) 100%),
    url(../images/mobile/image-fisheye.jpg);
}

#gallery-section .button {
  background-color: #ffffff;
  border: 0.0625rem solid #000000;
  font-family: "Alata", san-serif;
  font-size: 0.875rem;
  line-height: 0.875rem;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 9.8125rem;
  height: 2.5rem;
  align-self: center;
}

#gallery-section .button:hover {
  background-color: #000000;
  color: #ffffff;
}

/* =================== footer Styles ========================*/
#footer {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#footer .logo-design img {
  width: 9rem;
  margin-bottom: 2rem;
  margin-top: 3.5rem;
}

#footer .desktop-align {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*^^^^^^^^^^^ Links ^^^^^^^^^^^^^^^*/

#footer .foot-links ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 3rem;
  text-align: center;
}

#footer li {
  margin-bottom: 1rem;
}

#footer .foot-links a {
  font-family: "Alata", san-serif;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  text-decoration: none;
  color: #ffffff;
}

#footer .foot-links a:hover {
  text-decoration: underline;
}

/*^^^^^^^^^^^ Icons ^^^^^^^^^^^^^^^*/
#footer .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

#footer .social-icons a {
  margin-right: 1rem;
}

#footer .social-icons a:hover {
  text-decoration: underline;
}

#footer .social-icons .instagram {
  margin-right: 0;
}

/*^^^^^^^^^^^ Copy-Write ^^^^^^^^^^*/
#footer .copywrite {
  font-family: "Alata", san-serif;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  opacity: 0.5;
  margin-bottom: 3.5rem;
}

/*^^^^^^^^^^^ FM Properties ^^^^^^^*/
.attribution {
  font-size: 0.6875rem;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* =================== Media Queries ========================*/

/*Mobile layout CSS Nav bar Only*/
@media (max-width: 49.125rem) {
  nav {
    margin: 0 1.5rem;
    padding-top: 2.5rem;
  }

  .logo img {
    width: 9rem;
    display: block;
    position: sticky;
    z-index: 100;
  }

  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    background-color: black;
    transition: top 1s ease;
    display: none;
  }

  nav ul {
    padding-top: 13.9375rem;
    padding-left: 1.5rem;
  }

  nav .mainMenu li a {
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1.5625rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
  }

  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 2.5rem;
    right: 1.5rem;
    font-size: 1.875rem;
  }

  nav .openMenu {
    display: block;
  }
}

/*Desktop layout CSS*/
@media only screen and (min-width: 62.5rem) {

  /*^^^^^^^^^^^ Header/Hero Section ^^^^^^^^^^^^^^^*/
  #header {
    background-image: linear-gradient(0deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 0%),
      url(../images/desktop/image-hero.jpg);
  }

  /*^^^^^Hero Section ^^^^^^^*/
  #hero-section {
    margin: 8.125rem auto 9.125rem 10.3125rem;
    width: 45.14%;
    word-wrap: break-word;
  }

  h1 {
    font-size: 4.5rem;
    line-height: 4.125rem;
    padding: 2.5rem;
  }

  /*^^^^^^^^^^^ About section ^^^^^^^^^^^^^^^*/

  #about-section {
    flex-direction: row;
    margin: 10rem 10.25rem;
    align-items: flex-end;
    margin-bottom: 11.5rem;
  }

  #about-section .mobile-size {
    display: none;
  }

  #about-section .desktop-size {
    display: inline;
  }

  #about-section img {
    width: 86%;
    margin-bottom: 0;
  }

  #about-section .about-writeup {
    display: inline;
    background: #ffffff;
    padding-left: 6rem;
    padding-top: 6rem;
    position: relative;
    left: -10.0625rem;
  }

  #about-section h2 {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1.5625rem;
    text-align: left;
    width: 27.8125rem;
  }

  #about-section p {
    text-align: left;
    width: 100%;
  }

  /*^^^^^^^^^^^ Gallery Section ^^^^^^^^^^^^^^^*/
  #gallery-section {
    margin: 0 10.3125rem;
    flex-wrap: wrap;
    margin-bottom: 7.5rem;
  }

  #gallery-section h2 {
    text-align: left;
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 5rem;
    order: 1;
  }

  #gallery-section .img-gallery {
    flex-flow: row wrap;
    width: 100%;
    order: 2;
  }

  #gallery-section p {
    font-size: 2rem;
    line-height: 2rem;
    text-transform: uppercase;
    margin-top: 22.125rem;
    margin-left: 2.5rem;
  }

  .deep-img,
  .fisheye-img,
  .above-img,
  .curiosity-img,
  .grid-img,
  .night-img,
  .soccer-img,
  .pocket-img {
    height: 28.125rem;
    margin-bottom: 1.875rem;
    flex: 1 1 21%;
    margin-right: 2.7%;
  }

  .deep-img {
    background-image: linear-gradient(180deg,
        rgba(0, 0, 0, 0.0001) 0%,
        rgba(0, 0, 0, 0.601863) 100%),
      url(../images/desktop/image-deep-earth.jpg);
  }

  .night-img {
    background-image: linear-gradient(180deg,
        rgba(0, 0, 0, 0.0001) 0%,
        rgba(0, 0, 0, 0.601863) 100%),
      url(../images/desktop/image-night-arcade.jpg);
  }

  .soccer-img {
    background-image: linear-gradient(180deg,
        rgba(0, 0, 0, 0.0001) 0%,
        rgba(0, 0, 0, 0.601863) 100%),
      url(../images/desktop/image-soccer-team.jpg);
  }

  .grid-img {
    background-image: linear-gradient(180deg,
        rgba(0, 0, 0, 0.0001) 0%,
        rgba(0, 0, 0, 0.601863) 100%),
      url(../images/desktop/image-grid.jpg);
    margin-right: 0;
  }

  .above-img {
    background-image: linear-gradient(180deg,
        rgba(0, 0, 0, 0.0001) 0%,
        rgba(0, 0, 0, 0.601863) 100%),
      url(../images/desktop/image-from-above.jpg);
  }

  .pocket-img {
    background-image: linear-gradient(180deg,
        rgba(0, 0, 0, 0.0001) 0%,
        rgba(0, 0, 0, 0.601863) 100%),
      url(../images/desktop/image-pocket-borealis.jpg);
  }

  .curiosity-img {
    background-image: linear-gradient(180deg,
        rgba(0, 0, 0, 0.0001) 0%,
        rgba(0, 0, 0, 0.601863) 100%),
      url(../images/desktop/image-curiosity.jpg);
  }

  .fisheye-img {
    background-image: linear-gradient(180deg,
        rgba(0, 0, 0, 0.0001) 0%,
        rgba(0, 0, 0, 0.601863) 100%),
      url(../images/desktop/image-fisheye.jpg);
    margin-right: 0;
  }

  #gallery-section .button {
    position: absolute;
    align-self: flex-end;
    order: 1;
  }

  /*^^^^^^^^^^^ Footer Section ^^^^^^^^^^^^^^^*/

  #footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 2.75rem 10.3125rem;
  }

  #footer .logo-design img {
    margin-bottom: 0.875rem;
    margin-top: 0;
  }

  #footer .desktop-align {
    align-items: flex-start;
  }

  /*^^^^^^^^^^^ Links ^^^^^^^^^^^^^^^*/

  #footer .foot-links ul {
    flex-direction: row;
    margin-bottom: 0;
  }

  #footer li {
    margin-bottom: 0;
    margin-right: 2rem;
  }

  /*^^^^^^^^^^^ Icons ^^^^^^^^^^^^^^^*/
  #footer .social-icons {
    width: 53.1%;
    margin-bottom: 0.875rem;
    align-self: flex-end;
  }

  /*^^^^^^^^^^^ Copy-Write ^^^^^^^^^^*/
  #footer .copywrite {
    margin-bottom: 0;
  }
}